<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Bart's Blog</title>
        <script src="{{ app.request.basepath }}/js/jquery.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/css/style.css"/>
        
    </head>
    <body>
         <div class="header">
            {% block header %}
             {{ header }}
            {% endblock %}
         </div>
        
        {% set account_link = '/blog/login/' %}
        {% set account_text = 'Log In' %}
        
        <div class="top_menu">
            {% block top_menu %}
            <a href={{ account_link }}>{{ account_text }}</a>|<a href='/blog/register/'>Register</a>
            {% endblock %}
        </div>
        
        <div class ="site_body">
        <div class="container">
            {% block container %}
            {% endblock %}
        </div>
        
        <div class="right_column">
            {% block right_column %}
            right column
            {% endblock %}
        </div>
        </div>
        <div class="footer">
            {% block footer %}
            footer
            {% endblock %}
        </div>
        
    </body>
</html>